<div class="footer-position">
    <div class="p-grid footer-aligment">
        <div class="p-col-4">
            <div>
                <img src="assets/img/footer-bikes.svg" alt="">
            </div>
            <div>
                <img src="assets/img/nuevo-logo-colsubsidio-2021.svg" height="30" class="p-mr-2">
            </div>
        </div>
        <div class="p-col-4">
            <h3>Conócenos</h3>
            <p class="p-text-left p-text-light"><a href="https://www.colsubsidio.com/nosotros">Nuestra organización </a></p>
            <p class="p-text-left p-text-light" ><a href="https://ayuda.colsubsidio.com/?hsLang=es">Centro de ayuda </a></p>
        </div>
        <div class="p-col-4">
            <h3>
                Siguenos
            </h3>

            <div>
                <ul>
                    <li><i class="color-twitter pi pi-twitter"></i>  <a href="https://twitter.com/Colsubsidio_Ofi"> Twitter</a></li>
                    <li><i class="color-favebook pi pi-facebook"></i> <a href="https://www.facebook.com/Colsubsidio/"> Facebook</a> </li>
                    <li><i class="color-youtube pi pi-youtube"></i> <a href="https://www.youtube.com/user/Colsubsidio01"> YouTube</a> </li>
                </ul>
            </div>
            
        </div>
    </div>
    <hr>
    <div class="p-grid footer-aligment-t">
        <div class="p-col-6">
            <p>Transparencia y acceso a la información Tratamiento de datos personales Mapa del sitio</p> 
        </div>
        <div class="p-col-6">
            <p>Todos los derechos reservados © Colsubsidio 2021</p>
        </div>
    </div>
</div>
